<%-include('partials/header.ejs') %>
<body>
  <%-include('partials/navbar.ejs') %>
  <div class="container">
    <div class="card card-formulario">
      <div class="card-header">
        <h3>Faça a sua pergunta</h3>
      </div>
      <div class="card-body">
        <form class="form-style">
          <input type="text" placeholder="Título" class="form-control" />
          <textarea placeholder="Descreva sua pergunta aqui" class="form-control"></textarea>
          <button type="submit" class="btn btn-dark">Perguntar</button>
        </form>
      </div>
    </div>
  </div>
</body>
<%-include('partials/scripts.ejs') %>
