.form-style {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

body {
    background-color: #eceff173;
}

.card-formulario {
    margin-top: 5vh;
}

.card-perguntas {
    margin-top: 5vh;
}

.form-resposta {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.botao-resposta {
    width: 30%;
}

.card-resposta {
    margin-bottom: 10px;
}
