.form-style {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

body {
    background-color: #eceff173;
}

.card-formulario {
    margin-top: 5vh;
}

.card-perguntas {
    margin-top: 5vh;
}